<h1>Lista de Cadastrados</h1>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Id</th>
      <th>Email</th>
      <th>Senha</th>
      
    </tr>
  </thead>
  <tbody>
    {{#each refugiados}}
    <tr>
      <td>{{this.nome}}</td>
       <td>{{this.id}}</td>
      <td>{{this.email}}</td>
      <td>
        <a href="/edit/{{this.id}}">Editar</a>
        <a href="/delete/{{this.id}}" onclick="return confirm('Tem certeza?')">Excluir</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
